version: "3.9"

services:
  api:
    build:
      context: ../
      dockerfile: api/Dockerfile
    env_file: ../.env
    ports:
      - "8000:8000"
    restart: unless-stopped
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped
